unordered-list {
  can-data-context {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    width: 75%;
    ul {
      width: 300px;
    }
  }
}